##################################
# ********* App Config ********* #
##################################
# App Configuration
NEXT_PUBLIC_APP_URL=""
NEXT_PUBLIC_SHOW_LOGGER=""
# Strapi Configuration
NEXT_PUBLIC_STRAPI_API_URL=""
STRAPI_API_TOKEN=""

##################################
# ******** Contact Form ******** #
##################################
# Contact Form Configuration
CONTACT_FORM_RECEIVE_EMAIL=""
CONTACT_FORM_SEND_EMAIL_DOMAIN=""
# Recaptcha Configuration
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""
# SMTP Configuration
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASSWORD=""

##################################
# ******* Service Config ******* #
##################################
# ... with Cookiebot
NEXT_PUBLIC_COOKIEBOT_ID=""
# ... with Datadog
NEXT_PUBLIC_DATADOG_APPLICATION_ID=""
NEXT_PUBLIC_DATADOG_CLIENT_TOKEN=""
# ... with Flagsmith
NEXT_PUBLIC_FLAGSMITH_ID=""
# ... with Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""
# ... with Hotjar
NEXT_PUBLIC_HOTJAR_ID=""
# ... with Open Graph
NEXT_PUBLIC_OG_BASE_URL=""
# ... with Sentry
SENTRY_AUTH_TOKEN=""
