<html lang='de'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Dücker Medizintechnik - Kontaktformular</title>
    <style>
      a { color: #1fa0e1; text-decoration: none; }
    </style>
  </head>
  <body>
    <div
      style='width:auto; margin:0 auto; padding:10px; border:1px solid #e7e7e7; color:#081626;'
    >
      <h2><strong>Neue Nachricht über das Kontaktformular auf<br />
          duecker-medizintechnik.de</strong></h2>
      <p><strong>Name:<br /> </strong> {{name}} </p>
      <p><strong>E-Mail: </strong><br /> {{email}} </p>
      <p><strong>Telefon: </strong><br /> {{phone}} </p>
      <p><strong>Nachricht: </strong><br /> {{message}} </p>
    </div>
  </body>
</html>
